{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Описание индикаторов</title>
    <meta charset="utf-8">
    <link type="text/css" href="{% static 'patterns_app/css/styles.css' %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'patterns_app/js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>

  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Домашняя страница</a></li>
        <li><a href="{% url 'about_ta' %}" class="nav-link px-2">О техническом анализе</a></li>
        <li><a href="{% url 'decs_indicators' %}" class="nav-link px-2">Описание индикаторов</a></li>
      </ul>

      <div class="col-md-3 text-end">
        {% if request.user.is_authenticated %}
        <div class="dropdown">
            <button class="btn btn-primary">{{user.username}}</button>
            <div class="dropdown-content">
            <a href="{% url 'lk' %}">Личный кабинет</a>
            <a href="{% url 'logout' %}">Выйти</a>
            </div>
        </div>
        {% else %}
        <button type="button" onClick="location.href='{% url 'login' %}'" class="btn btn-outline-primary me-2">Войти</button>
        <button type="button" onClick="location.href='{% url 'register' %}'" class="btn btn-primary">Зарегистрироваться</button>
        {% endif %}
      </div>
    </header>

       <div class="col-md-8">


      <article class="blog-post">


        <h3>Индикатор Скользящие средние </h3>
        <dl>
          <dt>Индикатор Скользящие средние (Moving Average)</dt>
          <dd>Классический индикатор, с помощью которого можно прогнозировать направление и силу движения цен на трендовом рынке, а также определять наиболее подходящие точки входа и выхода. Данным инструментом технического анализа пользуется сегодня подавляющее большинство трейдеров.</dd>
         </dl>


          <p>Индикатор пересечения скользящих средних является одним из наиболее распространенных технических индикаторов, используемых трейдерами для определения смены тренда на рынке. Он основан на сравнении двух или более скользящих средних, которые представляют собой усредненные значения цен актива за определенный период времени.</p>
          <img src="{% static '/patterns_app/images/ma.png' %}" width="600" height="350" title="Индикатор MA | Пересечение скользящих средних">

        <p></p>
          <p>Пересечение скользящих средних происходит, когда одна скользящая средняя пересекает другую вверх или вниз. В зависимости от конфигурации скользящих средних, пересечение может сигнализировать о смене тренда.</p>

          <p>Трейдеры могут использовать пересечение скользящих средних для определения точек входа или выхода из рынка. Например, когда более короткая скользящая средняя пересекает сверху вниз более длинную скользящую среднюю, трейдеры могут считать это сигналом на покупку. Иначе, когда более короткая скользящая средняя пересекает снизу вверх более длинную скользящую среднюю, трейдеры могут рассматривать это как сигнал на продажу.</p>
          <p>Однако важно отметить, что пересечение скользящих средних может давать ложные сигналы во время бокового тренда или быстро меняющихся рыночных условий. Поэтому многие трейдеры комбинируют этот индикатор с другими инструментами и фильтрами для повышения точности и достоверности сигнал</p>

      <h3>Индекс относительной силы</h3>
        <dl>
          <dt>Осциллятор RSI (Relative Strength Index)</dt>
          <dd>Популярный технический индикатор, используемый для измерения силы и скорости изменения цен на финансовых рынках. Он помогает трейдерам определить перекупленность или перепроданность актива и потенциальные точки разворота тренда.</dd>
         </dl>

        <p>RSI представляет собой ограниченный между значениями 0 и 100 индикатор, который вычисляется на основе относительной силы ценовых изменений. Обычно он использует 14-дневный период, но этот период может быть настроен подходящим образом в зависимости от временного горизонта трейдера.</p>

          <img src="{% static '/patterns_app/images/rsi.png' %}" width="360" height="250" title="Индикатор RSI">

        <p>Когда RSI поднимается выше уровня 70, считается, что актив становится перекупленным, что может указывать на возможное снижение цены. С другой стороны, когда RSI опускается ниже уровня 30, считается, что актив становится перепроданным, что может указывать на возможное возрастание цены. Трейдеры могут использовать эти уровни для принятия решений о входе или выходе из позиции.</p>

      <p>Важно отметить, что RSI является лишь одним из множества индикаторов, и его следует использовать в сочетании с другими инструментами и аналитическими методами для принятия обоснованных торговых решений. Он не является абсолютным индикатором, и ложные сигналы могут возникать в определенных рыночных условиях.</p>

        <h3>Линии Боллинджера</h3>
        <dl>
          <dt>Технический индикатор полосы (линии) Боллинджера</dt>
          <dd>Это технический индикатор, который используется для анализа волатильности и определения ценовых диапазонов актива. Индикатор состоит из трех линий: средней линии и двух полос, расположенных на определенном расстоянии от средней линии.</dd>
         </dl>

          <p>Две полосы, расположенные выше и ниже средней линии, представляют собой стандартное отклонение цен от средней линии. Расстояние между полосами определяется на основе выбранной волатильности. Чем шире полосы, тем выше волатильность.</p>
          <p>Линии Боллинджера помогают трейдерам определить моменты, когда цена актива находится в периоде высокой или низкой волатильности. Когда цена подходит или преодолевает верхнюю полосу, это может свидетельствовать о перекупленности актива, а когда цена опускается или пересекает нижнюю полосу, это может указывать на перепроданность актива.</p>

          <img src="{% static '/patterns_app/images/bb.png' %}" width="420" height="220" title="Индикатор линии Боллинджера">

          <p>Линии Боллинджера могут служить сигналами для входа и выхода из позиции. Например, когда цена пересекает верхнюю полосу, это может быть сигналом к продаже, а когда цена пересекает нижнюю полосу, это может быть сигналом к покупке.</p>

          <h3>Фигура технического анализа «Треугольник»</h3>
        <dl>
          <dt>Определение паттерна «Треугольник»</dt>
          <dd>Фигура треугольник в техническом анализе представляет собой графический паттерн, который образуется ценовыми движениями актива и имеет форму треугольника. Треугольник может быть как нисходящим (снижающимся), так и восходящим (возрастающим), в зависимости от направления линий треугольника.</dd>
         </dl>

          <p>В треугольнике линии тренда, образованные соединением последовательных максимумов и минимумов, сходятся к одной точке, создавая форму треугольника. Чем больше свечей образуют треугольник, тем более значимым считается этот паттерн.</p>

          <p>Треугольники указывают на сжатие ценового диапазона и неопределенность в направлении движения цены. Это может быть признаком наличия силы спроса и предложения, которые могут привести к значительному движению цены после выхода из треугольника.</p>

          <img src="{% static '/patterns_app/images/triangle.png' %}" width="600" height="410" title="Примеры фигур ТА Треугольник">
            <p></p>
          <p>Выход из треугольника может произойти двумя способами: пробоем или отскоком от линий треугольника. Пробой треугольника происходит, когда цена преодолевает одну из линий треугольника, что сигнализирует о возможном продолжении движения в пробитом направлении. Отскок от линий треугольника происходит, когда цена отскакивает от линий и продолжает находиться в пределах треугольника. В этом случае трейдеры могут ожидать, что цена продолжит движение в пределах треугольника до тех пор, пока не произойдет пробой.</p>

          <p>Фигура треугольника является одной из наиболее распространенных и важных фигур технического анализа. Она помогает трейдерам определить периоды консолидации цены и возможные точки разворота или продолжения тренда. Однако трейдеры должны использовать другие инструменты и подтверждающие сигналы для принятия более надежных решений.</p>

          <h3>Фигура технического анализа «Голова и плечи»</h3>
        <dl>
          <dt>Индикатор «Голова и плечи»: Признак разворота тренда на финансовых рынках</dt>
          <dd>Индикатор "голова и плечи" является одним из основных паттернов разворота тренда в техническом анализе. Он получил свое название благодаря своей характерной форме, которая напоминает голову и плечи. Этот паттерн представляет собой последовательность трех пиков (двух плечей и головы) на графике ценового движения актива.</dd>
         </dl>

          <p></p>

          <p>Структура паттерна «голова и плечи»:</p>
        <ol>
          <li><b>Левое плечо:</b> Первый пик на графике, который обычно происходит во время восходящего тренда. Цена затем снижается, и формируется локальный минимум, называемый "шеей".</li>
          <li><b>Голова:</b> Пик, который следует после левого плеча и обычно является высшей точкой на графике. Цена затем снова снижается и достигает уровня шеи.</li>
          <li><b>Правое плечо:</b> Второй пик, который обычно происходит после головы. Цена снова снижается, но не превышает уровень шеи.</li>
          <li><b>Линия шеи:</b> Линия, которая соединяет минимумы между левым плечом и головой, а также между головой и правым плечом. Она играет важную роль в паттерне "голова и плечи" и служит уровнем поддержки или сопротивления.</li>
        </ol>

          <img src="{% static '/patterns_app/images/has.png' %}" width="350" height="310" title="Примеры фигур ТА Голова и плечи">
            <p></p>
          <dl>
          <dt>Сигналы и торговые решения</dt>
          <dd>Когда цена преодолевает линию шеи, это считается сигналом разворота тренда и может представлять возможность для трейдеров открыть позицию в направлении нового тренда. Обычно такой разворот тренда сопровождается увеличением объема торговли, что усиливает его значимость.</dd>
              <dd>Если цена не преодолевает линию шеи и продолжает двигаться вниз, это может свидетельствовать о продолжении текущего тренда.</dd>
         </dl>
          <p>Успешное применение паттерна "голова и плечи" требует подтверждения другими индикаторами и сигналами технического анализа. Трейдеры могут комбинировать этот паттерн с индикаторами объема, скользящими средними или другими паттернами для улучшения точности сигналов.</p>

          <p>Индикатор "голова и плечи" является важным инструментом технического анализа, который помогает трейдерам и инвесторам определить возможный разворот тренда на финансовых рынках. Этот паттерн обладает своей характерной структурой и сигналами, которые могут быть использованы для принятия торговых решений. Однако трейдеры должны помнить, что ни один индикатор не является абсолютным, и его использование требует осторожности и подтверждения другими факторами анализа рынка.</p>


          <h3>Свечные паттерны</h3>
        <dl>
          <dt>Определение</dt>
          <dd>Это рафические образования на свечных графиках, которые используются в техническом анализе для прогнозирования направления движения цены и принятия торговых решений. Они основаны на анализе формы и расположения свечей, которые отображают ценовое движение актива за определенный период времени.</dd>
         </dl>

          <p>Свечные паттерны состоят из одной или нескольких свечей, объединенных в определенную формацию или последовательность.</p>

          <p>Различные свечные паттерны имеют разные значения и могут указывать на разные сигналы рынка. Некоторые паттерны указывают на разворот тренда (например, "перевернутая голова и плечи", "молот", "звезда вечера"), другие - на продолжение тренда (например, "трендовый бар", "три солдата", "бычье поглощение"). Каждый паттерн имеет свои особенности и трактовку, которые могут помочь трейдерам принимать решения о входе или выходе из рынка.</p>

          <p>Свечные паттерны являются широко распространенным инструментом в техническом анализе и широко используются трейдерами для прогнозирования ценового движения и определения точек входа и выхода из позиции. Однако важно помнить, что свечные паттерны должны рассматриваться в контексте других факторов и подтверждающих сигналов для принятия более надежных торговых решений.</p>
</body>
</html>